html {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: hsl(273, 75%, 66%);
  font-family: Kumbh Sans;
  font-size: 12px;
  font-weight: 400;
}
.container {
  width: 325px;
  margin:  100px auto;
  background-color: white;background-image: url(./images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  font-size: 12px;
  padding-bottom: 5px;
  border-radius: 25px;
}
.big-image {
  margin-top: -110px;
  margin-left: 37px;
  width: 250px
}
.faq {
  margin-top: 5px;
  margin-bottom: -20px;
  display: flex;
  justify-content: space-between;
  text-align: start;
}
.faq img {
  width: 8px;
  height: 8px;
  margin-top: 3px;
  cursor: pointer;
  /* transform: rotate(0); */
}
h3 {
  font-weight: 400;
  font-size: 13px;
  margin-top: 0px;
  cursor: pointer;
  color: hsl(237, 12%, 33%);
  font-family: Kumbh Sans;
}
p {
  color: hsl(240, 6%, 50%);
  visibility: hidden;
  height: 0;
  transition: height 0.4s ease-out;
}
.cont-2nd {
  margin: 70px 25px; 
}
h1 {
  font-size: 2.5em;
  margin-bottom: 40px;
  text-align: center;
  font-family: Kumbh Sans;
}
div.active ~ p {
  transition: height 0.4s ease-out;
  height: 4em;
  visibility: visible;
}
div.active > img{
  transform: rotate(180deg);
}
div.active > h3{
  font-weight: 700;
}
.elements {
  border-bottom: 1px hsl(240, 5%, 91%) solid;
  margin-bottom: 10px;
}
@media screen and (min-width: 500px) {
  .container {
    width: 800px;
    display: flex;
    justify-content: space-around;
    background-position: 196% -157%;
    background-size: 110em;
    
  }
  .cont-2nd {
    width: 250px;
    margin-right: 100px;
  }
  .big-image {
    margin-top: 50px;
    margin-left: -50px;
    width: 350px;
  }
  h1 {
    text-align: left;
  }
}